:root{
    --white: #fff;
    
    --green-900: #c4ff93;
    --green-300: #00b37e;
    --green-500: #00875f;

    --red-500: #f75a68;
}

:focus{
    outline: transparent;
    box-shadow: 0 0 2px var(--green-500);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--green-900);
    color: var(--green-300);
    -webkit-font-smothing: antialiased;
}

body, input, textarea, button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}